.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 400px;
    width: 400px;
    background-color: black;
    animation-timing-function: ease-in;
    animation-name: animation1, animation2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    animation-play-state: paused;
}

@keyframes animation1{
    from{
        background-color: yellow;
    }
    to{
        background-color: blue;
        transform: translate(200px, 300px);
    }
}

@keyframes animation2{
    0%{
        background: repeating-radial-gradient(circle, yellow, red 20%, orange 50%);
        /* background: repeating-linear-gradient(circle, yellow, red 20%, orange 50%); */
    }

    10%{
        border-radius: 50%;
        background-color: aqua;
        border-color: 1px solid black;
        transform: translate(200px);
    }

    20%{
        transform: skew(200px);
        background: linear-gradient(blue, red, purple);
        transform: translate(200px, 200px);
    }

    50%{
        transform: rotate(360deg);
    }

    80%{
        background-color: black;
        color: aliceblue;
    }

    100%{
        transform: translate(500px 800px);
    }
}