* {
    margin: 0;
    box-sizing: border-box;
  }
  
  .first {
    /* background-color: black; */
    margin: 50px;
    padding: 100px;
    height: 400px;
    width: 400px;
    border: 4px solid blue;
    border-radius: 50%;
    bottom: 1%;
    position: relative;
  }
  
  .first-child {
    position: absolute;
    padding: 50px;
    background-color: brown;
    top: 10%;
    left: 0;
    border-radius: 50%;
  }
  
  .second-child {
    position: absolute;
    padding: 50px;
    background-color: blue;
    top: 10%;
    right: 0;
    border-radius: 50%;
    z-index: 4;
  }
  
  .fixed {
    background-color: yellow;
    height: 400px;
    width: 100%;
    position: fixed;
  }
  .sticky {
    position: sticky;
    width: 100%;
    background-color: orange;
    padding: 50px;
    top: 0;
    z-index: 2;
    /* display:flex ; */
  }
  
  /* display */
  /* flex, grid, block, inline, inline-block  */
  
  /* z-index */
  
  /* position :relative, absolute, fixed, sticky, static  */
  
  header {
    background-color: peru;
  }
  .inner-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: azure;
  }
  .logo{
    background-color: blue;
  }
  .inner-content{
    background-color: black;
  }
  ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  .container {
    max-width: 1280px;
    /* background-color: wheat; */
    margin: auto;
  }
  
  
  