* {
    margin: 0;
    box-sizing: border-box;
  }
  
  .container {
    max-width: 1440px;
    margin: auto;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  /* header */
  header {
    background-color: rgb(12, 12, 39);
    color: white;
  }
  
  .header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-item {
    position: relative;
  }
  .header-item:hover{
    cursor: pointer;
    color:yellow ;
  }
  
  .header-item:hover .sub-items{
    display: flex !important;
  }
  
  .header-item .sub-items {
    display: none !important;
    flex-direction: column !important;
    background-color: white;
    position: absolute;
    width: 200px;
    left: -50px;
    color:black;
    gap: 4px !important;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid black ;
    font-weight: 700;
  }
  .sub-items li{
    padding: 10px;
    border-radius: 10px;
  }
  .sub-items li:hover{
    background-color: yellow;
    cursor: pointer;
  }
  
  .logo img {
    height: 50px;
    width: 50px;
  }
  
  .menu-items ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 900px; */
    gap: 60px;
  }
  
  .header-button {
    display: flex;
    gap: 20px;
  }
  
  button {
    padding: 10px 20px;
  }
  
  .sign-in,
  .sign-up {
    border-radius: 50px;
  }
  
  .sign-in {
    background-color: yellowgreen;
  }
  
  .sign-up:hover {
    background-color: yellowgreen;
  
  }
  
  /* Content */
  
  .middle-content {
    display: flex;
    height: 800px;
  }
  
  .content-left {
    background-color: blue;
    width: 100%;
    color: white;
    display: flex;
    justify-content: end;
    flex-direction: column;
    /* align-items: center; */
  }
  
  .left-top {
    background-color: yellow;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
  }
  
  .left-top-item {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }
  
  .left-bottom {
  
    height: 90%;
    background-color: orange;
    display: flex;
    /* float: left; */
    /* flex-wrap: wrap; */
    justify-content: flex-end;
  }
  
  .left-bottom-items {
    background-color: black;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  
  }
  
  .left-bottom-item {
    height: 180px;
    width: 200px;
    background-color: white;
  }
  
  .content-right {
    display: flex;
    background-color: yellow;
    width: 100%;
  }
  
  .right-middle {
    background-color: cadetblue;
    width: 100%;
  }
  
  .right-last {
    width: 100%;
  }
  
  .right-top,
  .right-bottom {
    height: 50%;
  }
  
  .right-bottom {
    background-color: black;
    color: white
  }
  
  .right-top {
    background-color: white;
  }