* {
    margin: 0;
    padding: 0;
}
body{
    text-transform: capitalize;
}

input{
    display: block;
    text-transform: capitalize;
    border-radius: 8px;

}

.hover:hover{
    background-color:aquamarine;
}